:root {
  --french-blue: #424874ff;
  --periwinkle: #dcd6f7ff;
  --periwinkle-2: #a6b1e1ff;
  --pale-slate: #cacfd6ff;
  --azure-mist: #d6e5e3ff;
}

body {
  background-color: var(--periwinkle);
  color: var(--french-blue);
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 900ch;
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

h2,
h3 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a:link {
  color: var(--french-blue);
}

a:visited {
  color: #402851;
}

a:hover {
  color: var(--periwinkle-2);
}

a:active {
  color: #1f2345;
}

nav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px 16px;
  background-color: var(--azure-mist);
  border-radius: 12px;
  position: sticky;
  top: 0;
}

nav a {
  display: inline-block;
  padding: 6px 13px;
  background-color: var(--periwinkle);
  border-radius: 8px;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

img {
  border: 4px solid var(--azure-mist);
  border-radius: 8px;
}

footer {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 12px 16px;
  background-color: var(--azure-mist);
  border-radius: 12px;
}
